@import url('lib/Roboto.css');
body {
    background: #eee;
    text-align: center;
    margin: 0;
    padding: 0;
}
#dialog-message-help {
    text-align: left;
}
#game {
    background: #fff;
    border: solid #ccc;
    margin: auto;
}
#board {
    background: #fff;
    float: left;
}
#panel {
    background: #333;
    color: #09c;
    border-left: solid #ccc;
    float: right;
}
.display {
    font-family: "Roboto", sans-serif;
    color: #3cf;
}

