@import url('http:////fonts.googleapis.com/css?family=Roboto:300');
body {
    background: #eee;
    text-align: center
}
p {
    font-size: 16px;
}
#tcanvas {
    background-image: url(kitty_bg.jpg);
    background-size: 100%;
}
#dialog-message-help {
    text-align: left;
}
#game {
    background: #fff;
    border: 1px solid #ccc;
    width: 601px;
    height: 600px;
    margin: auto;
}
#board {
    background: #fff;
    width: 300px;
    height: 600px;
    float: left;
}
#panel {
    background: #333;
    color: #09c;
    border-left: 1px solid #ccc;
    width: 298px;
    height: 600px;
    float: right;
}
.display {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    margin-top: 120px;
    color: #3cf;
}

