@import url('http://fonts.googleapis.com/css?family=Roboto:300');
body {
    background: #eee;
    text-align: center
}
#tcanvas {
    background-image: url(kitty_bg.jpg);
    background-size: 100%;
}
#dialog-message-help {
    text-align: left;
}
#game {
    background: #fff;
    border: 1px solid #ccc;
    margin: auto;
}
#board {
    background: #fff;
    float: left;
}
#panel {
    background: #333;
    color: #09c;
    border-left: solid #ccc;
    float: right;
}
.display {
    font-family: "Roboto", sans-serif;
    color: #3cf;
}

